@using Tradr.Models
@model Item
@{
    Layout = null;
}

<div class="item-box"><a href="@Url.Action("ItemDetails", "Item", new{id = @Model.ItemId})">
    <div class="item-image" style="background-image: url('@Url.Content("~/Content/images/items/" + Model.Images.First().ItemImage)')"></div>
                          <div class="item-title"><span>@Model.Title</span></div>
                          <div class="item-value"><span>@Model.Value</span></div></a>
</div>