@using Tradr.Models
@model Offer
@{
    ViewBag.Title = "Make An Offer";
}

<div id="make-an-offer">
    <div><button class="btn btn-primary" id="include-more-desired">Show All Recievers Items</button></div>
    @foreach (var item in Model.Reciever.Items){
        <div class="desired-item" id="desiredId_@item.ItemId" @if (Model.DesiredItems.First().ItemId == item.ItemId){<text>style="display: inline-block;"</text>}>
            <div class="title"><p>Desired Item: </p></div>
            <div class="image" style="background-image: url('@Url.Content("~/Content/images/items/" + @item.Images.First().ItemImage)')"></div>
            <div class="item-description">
                <p>
                    <span class="title"> Description: </span>
                    @item.Description
                </p>
                <p>
                    <span class="title"> Value: </span>
                    @item.Value
                </p>
                <p>
                    <span class="title"> Wish List: </span>
                    @string.Join(", ", item.Wants.Select(x => x.TagName)) 
                
                </p>
            </div>
        </div>
    }
    <div id="all-reciever-items">
        <div class="title"><p>Their Items: </p></div>
        @foreach (var item in Model.Reciever.Items)
        {
            <div class="reciever-items">
                <input type="checkbox" name="@item.Title" data-cost="@Convert.ToInt32(item.Value)" value="@item.ItemId" @if (Model.DesiredItems.First().ItemId == item.ItemId) { <text>checked</text> }>
                @{
                    Html.RenderPartial("ItemBox", item);
                }
            </div>
        }
    </div>

    <div id="all-offer-items">
        <div class="title"><p>Your Items: </p></div>
        @foreach (var item in Model.Sender.Items)
        {
            <div class="proposer-items">
                <input type="checkbox" name="@item.Title" data-cost="@Convert.ToInt32(item.Value)" value="@item.ItemId">
                @{
                    Html.RenderPartial("ItemBox", item);
                }
            </div>
        }
    </div>
    
    <div id="total">
        
        <div id="total-value" class="title">Total Value: <span></span></div>
        <div id="total-items" class="title">Total Items: <span></span></div>
    </div>
    <div id="message-wrapper">
        <div class="title">Message: </div>
        <div id="message-box" contenteditable="true">
        </div>
        <div class="buttons">
            @using (Html.BeginForm("MakeAnOffer", "Offer", FormMethod.Post, new { @id = "offer" }))
            {
                <input type="hidden" name="desiredItems" id="desiredItems" value=""/>
                <input type="hidden" name="items" id="items" value=""/>
                <input type="hidden" name="message" id="message" value=""/>
                <input type="hidden" name="desiredId" id="desiredId" value="@Model.DesiredItems.First().ItemId"/>
                <input type="hidden" name="recieverId" id="recieverId" value="@Model.RecieverId"/>
                <input type="hidden" name="senderId" id="senderId" value="@Model.SenderId"/>
                <input type="submit" class="btn btn-primary" name="submit" id="submit" value="Send Offer"/>
                <a href="@Url.Action("Index", "Home")"><button class="btn btn-default">Cancel</button></a>
            }
           
        </div>
    </div>
    <div style="clear:both"></div>
</div>

<script type="text/javascript">
    $(function() {
        $(".proposer-items").find("input[type='checkbox']").on("click", function () {
            var names = $(".proposer-items").find("input:checked").map(function () { return $(this).attr("name"); }).get();
            var value = $(".proposer-items").find("input:checked").map(function () { return $(this).data("cost"); }).get();
            $("#total-value span").html("$ " + eval(value.join('+')));
            $("#total-items span").html(names.join(seperator = ", "));
        });
        $(".reciever-items").find("input[type='checkbox']").on("click", function () {
            var ids = $(".reciever-items input:checked").map(function () { return $(this).val(); }).get();
            $(".desired-item").hide();
            for (var i = 0; i < ids.length; i++) {
                var div = $("#desiredId_" + ids[i]);
                div.css("display", "inline-block");
            }
            console.log(ids.toString());
        });
        $("#submit").click(function () {
            $("#desiredItems").val($(".reciever-items input:checked").map(function () { return $(this).val(); }).get().join());
            $("#items").val($(".proposer-items input:checked").map(function () { return $(this).val(); }).get().join());
            $("#message").val($("#message-box").html());
        });
        $("#include-more-desired").click(function() {
            $("#all-reciever-items").slideDown().css("display", "inline-block");
        });
    });
</script>