@using System.Web.UI.WebControls
@using Tradr.Models
@model Offer
@{
    ViewBag.Title = "Negotiate Offer";
    var dItems = string.Join(",", Model.DesiredItems.Select(x => x.ItemId));
    var oItems = string.Join(",", Model.ProposedItems.Select(x => x.ItemId));
}
<div id="view-offer">
    <div class="title">Your Items:</div>
    <div id="desired-items-container">
        @foreach (var item in Model.DesiredItems)
        {
            <div class="desired-item">
                <div class="desired-image" style="background-image: url('@Url.Content("~/Content/images/items/" + item.Images.First().ItemImage)')"></div>
                <div class="desired-title">@item.Title</div>
                <div class="desired-value">Value: @item.Value</div>
                <div class="desired-tags">Wants: @string.Join(", ", item.Wants.Select(x => x.TagName))</div>
                <div class="desired-views">Views: @item.Views</div>
                <div class="desired-offers">Offers: @item.User.RecievedOffers.Where(x => x.DesiredItems.Any(y => y.ItemId == item.ItemId)).ToList().Count</div>
                <div class=""></div>
            </div>
        }
    </div>
    <div class="title">@Html.Raw(String.Format("<a href='{0}'>{1}'s</a>", @Url.Action("Profile", "User", new { id = Model.Reciever.UserId }), Model.Sender.FirstName)) Items:</div>
    <div id="proposed-container">
        @foreach (var item in Model.ProposedItems)
        {
            <div class="proposed-items">
                <div class="proposed-image" style="background-image: url('@Url.Content("~/Content/images/items/" + item.Images.First().ItemImage)')"></div>
                <div class="info">
                    <div class="proposed-title"><span>Title: </span>@item.Title</div>
                    <div class="proposed-description"><span>Description: </span>@item.Description</div>
                    <div class="proposed-value"><span>Value: </span>@item.Value</div>
                </div>
            </div>
        }
    </div>
    <div class="title">Message:</div>
    <div id="message-recieved">
        @foreach (var message in Model.Messages)
        {
            <div>@message.MessageText</div>
        }
    </div>

    <div class="buttons">
        <div class="offer-date">Date: @Model.DateTime</div>
        <div class="status">@Model.Status</div>
        <button id="negotiate-option" class="btn btn-primary">Negotiate</button>
        <a href="@Url.Action("AcceptOffer", "Offer", new { id = Model.OfferId })"><button class="btn btn-success">Accept Offer</button></a>
        <a href="@Url.Action("RejectOffer", "Offer", new { id = Model.OfferId })"><button class="btn btn-danger">Reject Offer</button></a>    
        <a href="@Url.Action("Outbox", "Offer")"><button class="btn btn-info">Back</button></a>
    </div>
    
    
</div>
 
 
<div id="make-an-offer" style="display: none;">
    <div id="warnings">**All Fields Must be Filled Out</div>
    <div id="glossary">
        <p><span class="oldoffer">***</span> -Items in previous Offer</p>
        <p style="border: 3px solid green; display: inline-block;">Green Border are Items in new Offer</p>
    </div>
    <div id="reciever-items">
        <div class="title"><p>Their (@Model.Sender.FirstName 's) Items: </p></div>
        @foreach (var item in Model.Sender.Items.Where(x => x.Status != ItemStatus.Unavailable))
        {
            {
                ViewBag.oItems = oItems;
                ViewBag.dItems = dItems;
                Html.RenderPartial("OfferItemBox", item);
            }
        }
    </div>

    <div id="proposer-items">
        <div class="title"><p>Your Items: </p></div>
        @foreach (var item in Model.Reciever.Items.Where(x => x.Status != ItemStatus.Unavailable))
        {
            {
               
                Html.RenderPartial("OfferItemBox", item);
            }
        }
    </div>
    
@*    <div id="total">
        
        <div id="total-value" class="title">Total Value: <span></span></div>
        <div id="total-items" class="title">Total Items: <span></span></div>
    </div>*@
    <div id="message-wrapper">
        <div class="title">Message: </div>
        <div id="message-box" contenteditable="true">
        </div>
    </div>
    @using (Html.BeginForm("NegotiateOffer", "Offer", FormMethod.Post, new { @id = "negotiate-offer" }))
    {
        <div class="buttons">
            <input type="hidden" name="desiredItems" id="desiredItems" value=""/>
            <input type="hidden" name="Offereditems" id="Offereditems" value=""/>
            <input type="hidden" name="message" id="message" value=""/>
            <input type="hidden" name="recieverId" id="recieverId" value="@Model.SenderId"/>
            <input type="hidden" name="senderId" id="senderId" value="@Model.RecieverId"/>
            <input type="hidden" name="oldOfferid" id="oldOfferid" value="@Model.OfferId"/>
            <input type="submit" class="btn btn-primary" name="submit" id="submit" value="Send Offer"/>
            <a href="@Url.Action("Index", "Home")"><button class="btn btn-default">Cancel</button></a>
            
        </div>

    }  
    <div style="clear:both"></div>
</div>
<script>
    $(function() {

        //Green border When Checked
        $(window).load(function() {
            var checked = $("input:checked");
            checked.each(function() {
                var action = $(this);
                action.parent().css("border", "4px solid green");
                action.parent().prepend("<span class='oldoffer'>***</span>");
            });
            if ("@ViewBag.Negotiation" == "@OfferStatus.Negotiation") {
                $("#view-offer").hide();
                $("#make-an-offer").show();
            }
        });
        $(".item-box").on("click load", function () {
            var clicked = $(this);
            var checkbox = clicked.find("input[type='checkbox']");

            if (!checkbox.prop("checked")) {
                checkbox.prop("checked", true);
                clicked.css("border", "4px solid green");
            }
            else {
                checkbox.prop("checked", false);
                clicked.css("border", "0");
            }
        });

        $(".reciever-items").find("item-box").on("click", function () {
            var checked = $(this).find("input[type='checkbox']");
            var names = $(".reciever-items").find("input:checked").map(function () { return checked.attr("name"); }).get();
            var value = $(".reciever-items").find("input:checked").map(function () { return checked.data("cost"); }).get();
            $("#total-value span").html("$ " + eval(value.join('+')));
            $("#total-items span").html(names.join(seperator = ", "));
        });
        $(".proposer-items").find("item-box").on("click", function () {
            var checked = $(this).find("input[type='checkbox']");
            var ids = $(".proposer-items input:checked").map(function () { return checked.val(); }).get();
        });
        $("#submit").click(function () {
            $("#desiredItems").val($("#reciever-items input:checked").map(function () { return $(this).val(); }).get().join());
            $("#Offereditems").val($("#proposer-items input:checked").map(function () { return $(this).val(); }).get().join());
            $("#message").val($.trim($("#message-box").html()));

            if (
            $("#desiredItems").val() == "" ||
            $("#Offereditems").val() == "" ||
            $.trim($("#message").val()) == "") {
                $("#warnings").show();
                 $('html, body').animate({
                    scrollTop: 0
                }, 500);
                event.preventDefault();
            }
        });


        $(".proposed-image").click(function () {
            var image = $(this);
            if (image.next().css("display") == "none") {
                image.next().slideDown("slow").css("display", "inline-block");
                image.parent().css("display", "block");
                image.parent().parent().prepend(image.parent());
            } else {
                image.next().slideUp("slow", function () {
                    image.parent().css("display", "inline");
                    image.parent().parent().append(image.parent());
                });
            }
        });

        $("#negotiate-option").click(function () {
            $("#view-offer").slideUp('slow');
            $("#make-an-offer").show();
        });
    });
</script>