@using System.Security.Cryptography
@using Microsoft.Ajax.Utilities
@using Tradr.Models
@model Offer
@{
    ViewBag.Title = "ViewOffer";
    Item desiredItem = Model.DesiredItems.First();
    var desired = (ViewBag.curUser == Model.RecieverId) ? "Your" : String.Format("<a href='{0}'>{1}'s</a>", @Url.Action("Profile", "User", new { id = Model.RecieverId }), Model.Reciever.FirstName);
    var proposed = (ViewBag.curUser == Model.SenderId) ? "Your" : String.Format("<a href='{0}'>{1}'s</a>", @Url.Action("Profile", "User", new { id = Model.RecieverId }), Model.Reciever.FirstName);
    if (ViewBag.previous == "true")
    {
        proposed = String.Format("<a href='{0}'>{1}'s</a>", @Url.Action("Profile", "User", new { id = Model.SenderId }), Model.Sender.FirstName);
    }
    var noPlurDesired = (ViewBag.curUser == Model.Reciever.UserId) ? "Your" : String.Format("<a href='{0}'>{1}</a>", @Url.Action("Profile", "User", new { id = Model.RecieverId }), Model.Reciever.FirstName);
    var status = Model.See == OfferSee.Seen ? "Seen by " + noPlurDesired : "Not Seen by " + noPlurDesired;
}
<div id="view-offer">
    <div class="title">@Html.Raw(desired) Items:</div>
    <div id="desired-item-container">
        @foreach(var item in Model.DesiredItems)
        {

            <div class="desired-item">
                <div class="desired-image" style="background-image: url('@Url.Content("~/Content/images/items/" + item.Images.First().ItemImage)')"></div>
                <div class="desired-title">@item.Title</div>
                <div class="desired-value">Value: @item.Value</div>
                <div class="desired-tags">Wants: @string.Join(", ", item.Wants.Select(x => x.TagName))</div>
                <div class="desired-views">Views: @item.Views</div>
                <div class="desired-offers">Offers: @item.User.RecievedOffers.Where(x => x.DesiredItems.Any(y => y.ItemId == item.ItemId) && x.Status != OfferStatus.Rejected).ToList().Count</div>
                <div class=""></div>
            </div>
        }
    </div>
    <div class="title">@Html.Raw(proposed) Items:</div>
    <div id="proposed-container">
        @foreach (var item in Model.ProposedItems)
        {
            <div class="proposed-items">
                <div class="proposed-image" style="background-image: url('@Url.Content("~/Content/images/items/" + item.Images.First().ItemImage)')"></div>
                <div class="info">
                    <div class="proposed-title"><span>Title: </span>@item.Title</div>
                    <div class="proposed-description"><span>Description: </span>@item.Description</div>
                    <div class="proposed-value"><span>Value: </span>@item.Value</div>
                </div>
            </div>
        }
    </div>
    
    
    <div class="title">Message: </div>
    <div id="message">
        @foreach (var message in Model.Messages)
        {
            <div>@message.MessageText</div> 
        }
    </div>

    <div class="buttons">
        <div class="offer-date">Date: @Model.DateTime</div>
        <div class="status">@Html.Raw(Model.Status)</div>
        @if (Model.Status == OfferStatus.Initial || Model.Status == OfferStatus.Negotiation)
        {
            <div class="status">@Html.Raw(status)</div>
        }
        @if (Model.PreviousOffer == 0)
        {
            <a href="@Url.Action("RemoveOffer", "Offer", new { id = Model.OfferId })"><button class="btn btn-danger">Remove Offer</button></a>
        }
        <a href="@Url.Action("Outbox", "Offer")"><button class="btn btn-info">Back</button></a>
    </div>
</div>
<script>
$(function() {
    $(".proposed-image").click(function() {
        var image = $(this);
        if (image.next().css("display") == "none") {
            image.next().slideDown("slow").css("display", "inline-block");
            image.parent().css("display", "block");
            image.parent().parent().prepend(image.parent());
        } else {
            image.next().slideUp("slow", function() {
                image.parent().css("display", "inline");
                image.parent().parent().append(image.parent());
            });
        }
    });

});
</script>